.App {
  text-align: center;
}

.ErrorPage {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Home {
  text-align: center;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #003333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Editor-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  text-align: center;
  min-height: 90vh;
  min-width: 100vw;
}

.Editor-Playfield {
  grid-column: 2;
  grid-row: 2;
  background-color: orange;
}

.Editor-save-load {
  grid-column: 2;
  grid-row: 1;
  background-color: black;
  height: 10vh;
  display: -webkit-flex;
  display: flex;
}

.Editor-save-load-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  min-width: 100px;
}

.editor {
  grid-column: 1;
  grid-row: 1/3;
  background-color: gray;
}

.dock {
  left: 0px;
  height: 90vh;
  overflow-y: scroll;
  background: white;
}

.dock::-webkit-scrollbar {
  width: 5px;
}
.dock::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
.dock::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.dock-item {
  transform: scale(0.7);
}

.container {
  flex: 1;
  overflow: hidden;
}

[flow],
[dock-tooltip] {
  position: relative;
}

[dock-tooltip]::before,
[dock-tooltip]::after {
  text-transform: none;
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[dock-tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}

[dock-tooltip]::after {
  content: attr(dock-tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 15em;
  max-width: 21em;
  max-height: 10em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

[dock-tooltip]:hover::before,
[dock-tooltip]:hover::after {
  display: block;
}

.Editor-Playfield [dock-tooltip]::before,
.Editor-Playfield [dock-tooltip]::after {
  display: none !important;
}

/* don't show empty tooltips */
[dock-tooltip='']::before,
[dock-tooltip='']::after {
  display: none !important;
}
[dock-tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[dock-tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[dock-tooltip]:not([flow])::before,
[dock-tooltip]:not([flow])::after,
[dock-tooltip][flow^="up"]::before,
[dock-tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */

[dock-tooltip]:not([flow])::before,
[dock-tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[dock-tooltip]:not([flow])::after,
[dock-tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[dock-tooltip]:not([flow])::before,
[dock-tooltip]:not([flow])::after,
[dock-tooltip][flow^="down"]::before,
[dock-tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[dock-tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[dock-tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[dock-tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[dock-tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[dock-tooltip]:not([flow]):hover::before,
[dock-tooltip]:not([flow]):hover::after,
[dock-tooltip][flow^="up"]:hover::before,
[dock-tooltip][flow^="up"]:hover::after,
[dock-tooltip][flow^="down"]:hover::before,
[dock-tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[dock-tooltip][flow^="left"]:hover::before,
[dock-tooltip][flow^="left"]:hover::after,
[dock-tooltip][flow^="right"]:hover::before,
[dock-tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.node {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.node.Number, .node.Str {
  background: rgb(92, 201, 245) !important;
}

.node.Add, .node.Sub, .node.Cal {
  background: rgb(139, 255, 97) !important;
}

.node.If {
  background: rgb(233, 197, 52) !important;
}


.node.Number .title, .node.Str .title {
  background-color: rgb(60, 160, 200);
}

.node.Add .title, .node.Sub .title, .node.Cal .title {
  background-color: rgb(82, 208, 37);
}

.node.If .title {
  background-color: rgb(193, 162, 40);
}


.node .title {
  width:100%;
  border-radius: 5px 5px 0 0;
  order: -3;
}

.node .output-title {
  color:#003333 !important;
}

.node .control {
  order:-1;
  width:60%;
}

.node input{
  width: 100%;
}

.node .input {
  display: grid !important;
  grid-template-columns: 1fr 9fr;
}

.node .input-title {
  color:#003333 !important;
}

.node select {
  width:100%;
}
